.footer-page {
  background-color: #232F3E;
  min-height: 100px;
  color: white;
  margin: 1rem;
  padding: 1rem;
  /* IMPORTANTE */
  text-align: center;
}

.footer-copyright {
  background-color: #131A22;
  min-height: 50px;
  color: white;
  /*IMPORTANTE */
  text-align: center;
}