<!--
<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Comentarios</h5>
        <p class="grey-text text-lighten-4">
          Deja tus comentarios, da clic <a routerLink="/">aquí</a>.
        </p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Contactanos</h5>
        <ul>
          <li>
            <a class="grey-text text-lighten-3" href="#!">
              <i class="fas fa-envelope"></i>
              nhsm@gmail.com
            </a>
          </li>
          <li>
            <a class="grey-text text-lighten-3" href="#!">
              <i class="fas fa-phone-alt"></i>
              419 122 5514
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container center">
      © 2020 New Home Multiservicios
    </div>
  </div>
</footer>
-->

<footer class="footer">
  <!--<div class="footer-copyright">
    <p>Contactanos</p>
    <p>
      <i class="fas fa-envelope"></i>
      nhsm@gmail.com</p>
    <p>
      <i class="fas fa-phone-alt"></i>
      419 122 5514
    </p>
    <hr>
    <p>© 2020 New Home Multiservicios</p>
  </div>-->
  <div class="footer-copyright">
    © 2020 New Home Multiservicios
  </div>
</footer>