<nav class="yellow">
  <div class="nav-wrapper">
    <a routerLink="/" class="brand-logo">NHMS</a>
    <a routerLink="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a routerLink="/">Ingresa</a></li>
      <li>
        <a routerLink="/">
          <i class="material-icons">shopping_cart</i>
        </a>
      </li>
    </ul>
  </div>
</nav>

<ul class="sidenav" id="mobile-demo">
  <li><a class="sidenav-close" routerLink="/">Ingresa</a></li>
  <li>
    <a class="sidenav-close" routerLink="/">
      <i class="material-icons">shopping_cart</i>
    </a>
  </li>
</ul>