<mat-toolbar>
  <span><a routerLink="/" class="mat-h1">NHMS</a></span>
  <span class="spacer"></span>
  <ul>
    <li *ngIf="!userIsAuthenticated">
      <a routerLink="#!" routerLinkActive="mat-accent">
        <button mat-button [matMenuTriggerFor]="menu">Bienvenido</button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>Iniciar sesión</button>
        </mat-menu>
      </a>
    </li>
    <li *ngIf="!userIsAuthenticated">
      <a mat-button routerLink="#!" routerLinkActive="mat-accent">
        <mat-icon matBadge="{{ cart.length }}" matBadgeColor="warn">shopping_cart</mat-icon>
      </a>
    </li>
    <li *ngIf="userIsAuthenticated">
      <a mat-button>
        <mat-icon>person</mat-icon>
        {{ user }}
      </a>
    </li>
  </ul>
</mat-toolbar>